<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>


  <system.web>
    <!-- we need this because we are on a web farm and need the keys to match on each share, autogenerate doesn't work in that scenario -->
    <machineKey validationKey="A48BCE8ADDEFD2BFFD886676F5B56D443090AF08A22C73CB46A2D9C3835EBB47354328FED2F0E53878C3A3E5FC869291E550F152F68C7AF330C7065133D2986F" decryptionKey="E67B6E9430068C8082EB09B4F8984ECF614DCFBA31542486624F062D06D78F4D" validation="SHA1" decryption="AES" />
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0" />

    <!--<authentication mode="None"/>
      --><!--<forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>-->

    <!--<membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>-->

    <!--<roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>-->

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
